<a href="https://colab.research.google.com/github/karishmaeahba/HTML-Assignment/blob/master/AWS_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python --version

Python 3.8.10

In [ ]:
a = 3+5
print(a)
print("Karishma")

8
Karishma

In [ ]:
print("           ")

In [ ]:
x = 1.5
y = 20
z = x+y
print(z)

21.5

In [ ]:
student_name = "karishma thakur"
print(student_name)

karishma thakur

In [ ]:
#repetation of variable
spd = "Marvel thor"
print(spd)

spd = 123
print(spd)

spd = 125.60
print(spd)

Marvel thor
123
125.6

In [ ]:
print(type("hello world"))
print(type(501))
print(type(2.3456))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
# string addition
company = "Hoping"
name = "Minds"
print(company,name)

Hoping Minds

In [ ]:
# we can not add string and int and float

In [ ]:
"my shoe color "+"karishma"
shoe_color="red"
"my shoe_color is"+ shoe_color

'my shoe_color isred'

In [ ]:
#Grading program
#Take input from user and calculate average of that
print("enter the grades")
grade1 = input("enter grade 1")
grade2 = input("enter grade 2")
grade3 = input("enter grade 3")
grade4 = input("enter grade 4")
grade5 = input("enter grade 5")


print("Average of the grades")
avg_grades=(int(grade1)+int(grade2)+int(grade3)+int(grade4)+int(grade5))/5
print(avg_grades)
90

enter the grades
enter grade 170
enter grade 2 45
enter grade 380
enter grade 490
enter grade 530
Average of the grades
63.0

In [ ]:
print("enter the grades")
grade1 = int(input("enter grade 1 "))
grade2 = int(input("enter grade 2 "))
grade3 = int(input("enter grade 3 "))
grade4 = int(input("enter grade 4 "))
grade5 = int(input("enter grade 5 "))


print("Average of the grades")
avg_grades=(int(grade1)+int(grade2)+int(grade3)+int(grade4)+int(grade5))/5
print(avg_grades)

enter the grades
enter grade 1 60
enter grade 2 70
enter grade 3 60
enter grade 4 88
enter grade 5 68
Average of the grades
69.2

In [ ]:
street = input("enter the name a street")
st_number = input("enter the street number")
print("the doctor livs at",st_number,street,"street")

enter the name a street AM Hospital
enter the street number 58
the doctor livs at  58  AM Hospital street

In [ ]:
name1 = input("enter your name")
print(name1)
print(type(name1))

enter your nameKarishma
Karishma
<class 'str'>

In [ ]:
menu = "salad, pasta, sandwich, pizza, drinks, dessert"
print('pizza' in menu)

True

In [ ]:
movies = "Pathan, Tare zameen par, Robot, Shivaji the boss, Thor, Gaurdian of galaxy"
my_movie = input("Enter movie name")
print(my_movie in movies)

Enter movie namePathan
True

In [ ]:
def get_name():
  name = input("what is your name?")
  print("the name you entered is",name +".")

print("This is a sample function")
get_name()

This is a sample function
what is your name?Karishma Thakur
the name you entered is Karishma Thakur.

In [ ]:
#addition program
def add_number():
  num1 = input("enter a number:")
  num2 = input("enter a second number:")
  num3 = int(num1) + int(num2)
  return num3

print("welcome to the magic!")
num4 = add_number()
print(num4)

welcome to the magic!
enter a number:89
enter a second number:90
179

In [ ]:
#define a function named say_hi
def yell_it():
  phrase = 'Extra Ice Cream PLease'
  print()
  print('yelling:',phrase.upper()+"!")

yell_it()

yelling: EXTRA ICE CREAM PLEASE!

In [ ]:
def say_this(phrase = "Hi"):
  print(phrase)

say_this()
say_this("Bye")

Hi
Bye

In [ ]:
def yell_this(phrase):
  print(phrase.upper() + "!")

words_to_yell = input("what would you like to yell?: ")
print()

yell_this(words_to_yell)

what would you like to yell?: shutup

SHUTUP!

In [ ]:
def cube(num):
  print("Number cube is" ,num**3)
cube(8)

Number cube is 512

In [ ]:
def check_item(dish):
  menu = "chicken, kabab, Litti, chokha, manchurian, Fish"
  return(dish in menu)


check_item("Fish")

True

In [ ]:
name = input("what is your name?")
age =

In [ ]:
a = 20
if a >10

Day 2 Python AWS

In [2]:

if name.isalnum() and not(name.isdigit()):
  print("the name you entered is", name + ". you are", age)
else:
    print("please enter a valid name")

NameError: ignored

In [7]:
test_string_1 = "welcome"
test_string_2 = "i have $3"
test_string_3 = "with a function it's efficient to report code"

def w_start_test(test_string):
  if test_string.startswith('w'):
    print(test_string, "-starts with 'w'")

  else:
    print(test_string, "-does NOT starts with 'w'")

w_start_test(test_string_1)
w_start_test(test_string_2)
w_start_test(test_string_3)

welcome -starts with 'w'
i have $3 -does NOT starts with 'w'
with a function it's efficient to report code -starts with 'w'

In [ ]:
test_string_1 = "welcome"
test_string_2 = "i have $3"

if test_string_1.islower():
  print(test_string_1. "-is not all lower")
else:
  print(test_string_2.)

In [8]:
str1 = "cloudthat"
str2 = "Hopingminds"
str1 > str2

True

In [22]:
x = 18
if x + 18 == x + x:
    print("Pass: x + 18 is equal to", x + x)
    
else:
    print("Fail: x + 18 is not equalÂ to", x + x)

Pass: x + 18 is equal to 36

In [23]:
def add(num1,num2):
  sum = num1+num2
  return sum

def subtract(num1,num2):
  difference = num1-num2
  return difference

def multiply(num1,num2):
  product = num1*num2
  return product 

def divide(num1,num2):
  if num1 != 0:
    quotient = num2/num1
    return quotient
  else:
     return 0 

num1 = int(input("please enter a number:"))
num2 = int(input("please enter a second number:"))
operator = input("what is your operation? enter + - * or / only." )

if operator == "+":
   answer = add(num1,num2)

elif operator == "-":
   answer = subtract(num1,num2)   

elif operator == "*":
   answer = multiply(num1,num2)   

elif operator == "/":
   answer = divide(num1,num2)   

else:
  print("This is not a valid operation!")
print(str(answer))

please enter a number:20
please enter a second number:10
what is your operation? enter + - * or / only.+
30